/*----------------------common.css----------------------*/
/*основной цвет текста  #212121*/
/*вторичный цвет текста #757575*/
/*белый цвет #ffffff*/
/*акцент #2196F3*/
/*вторичный цвет фона #F5F4FA*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --black-color: #000000;
  --icon-color: #afb1b8;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: solid red; */
}
/*-----------------------header--------------------------*/
/*---------------logo----------------*/
.header-section {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
  /* height: 80px; */
}
.main-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
}
.logo-part-in-blue {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
/*----------site navigation----------*/
.nav-menu {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-menu .link {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--accent-color);
}
.nav-menu .link.current {
  color: var(--accent-color);
  position: relative;
}
.nav-menu .link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  bottom: -33px;
  left: 0;
  background-color: var(--accent-color);
}
.menu-item {
  margin-right: 50px;
}
.menu-item:last-child {
  margin-right: 0;
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}
.nav-contacts .contacts-list + .contacts-list {
  margin-left: 50px;
}
.contact-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}
.contact-icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.nav-contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------------Main Content--------------------*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}
/*--------hero section------------*/
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin: 0 auto 30px auto;
}
.hero-ordering-button {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-ordering-button:focus,
.hero-ordering-button:hover {
  background-color: #188ce8;
}

/*--------our strength section--------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-strength-list {
  display: flex;
}
.strength-icons {
  display: flex;
  justify-content: space-between;
}
.strength-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.our-strength-list .list + .list {
  margin-left: 30px;
}
.our-strength-list-title {
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
p.our-strenght-list-text {
  max-width: 270px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/*--------working areas section--------*/
.working-areas.section {
  padding-top: 0;
}
.working-areas.section-title {
  margin-bottom: 50px;
}
.working-areas-list {
  display: flex;
  flex-wrap: wrap;
}
.working-areas-list .list:not(:last-child) {
  margin-right: 30px;
}
.product-thumb {
  position: relative;
}
.product-thumb::before {
  content: "";
  position: absolute;
}
.product-name {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(47, 48, 58, 0.8);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.working-name {
  color: var(--primary-background-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.product-thumb:hover .product-name {
  opacity: 1;
}
/*----------our team section-----------*/
.team.section {
  background-color: #f5f4fa;
}
.team.section-title {
  margin-bottom: 50px;
}
.team-container img {
  margin-bottom: 30px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-person {
  background: var(--primary-background-color);
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-person:not(:last-child) {
  margin-right: 30px;
}
.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.social-media-icons {
  margin: 16px 32px 0;
  width: 206px;
  display: flex;
  justify-content: space-between;
}
.team-social-media-icon {
  display: flex;
  justify-content: center;
  /* fill: var(--icon-color); */
}

.social-media-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-background-color);
  fill: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover {
  background-color: var(--accent-color);
  fill: var(--primary-background-color);
}
.our-team-member {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.our-team-member-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
/*--------clients-------*/
.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.client-link {
  width: 170px;
  height: 92px;
  border: solid 1px;
  border-radius: 4px;
  /* border-color: var(--icon-color); */
  background-color: var(--primary-background-color);

  padding: 16px 32px;
  display: flex;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.client-link {
  fill: var(--icon-color);
  border-color: var(--icon-color);
}
/* .client-logo:hover {
  fill: var(--accent-color);
}
.client-link:hover {
  border-color: var(--accent-color);
} */
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* fill: var(--icon-color); */
}
/*-----------foot of website------------*/
.footer {
  background-color: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-background-color);
}
.footer-address {
  margin-top: 20px;
}
.footer-address a.link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 60%);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address a.link:focus,
.footer-address a.link:hover {
  color: var(--primary-background-color);
}
/*---social media icons---*/
.baseline.container {
  display: flex;
  align-items: baseline;
}
.footer-icons {
  width: 206px;
  margin-left: 70px;
}
.footer-social-media-title {
  color: var(--primary-background-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: block;
}
.footer-social-media-icons {
  display: flex;
  justify-content: center;
  width: 206px;
  justify-content: space-between;
}

.footer-social-media-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media-link:hover {
  background-color: var(--accent-color);
  fill: var(--primary-background-color);
}
.footer-form {
  margin-left: 93px;
}
.footer-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.input-form {
  display: flex;
  justify-content: space-between;
}
.footer-form input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  color: var(--primary-background-color);
}
.footer-form-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
}

.footer-form-btn:hover {
  cursor: pointer;
}
/*------modal window-----*/
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close-btn {
  width: 30px;
  height: 30px;
  background-image: url("../images/close-black-18dp\ \(2\)\ 1.svg");
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  border-color: var(--icon-color);
  position: absolute;
  top: 0;
  right: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-background-color);
}
.feedback-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
/*-----feedback form-----*/
.feedback {
  display: flex;
  flex-direction: column;
  width: 448px;
  padding-top: 12px;
}
.form-user-id,
.form-user-tel,
.form-user-mail,
.form-comment {
  position: relative;
  width: 100%;
  /* display: flex;
  flex-direction: column; */

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

label {
  margin-bottom: 4px;
  margin-left: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.checkbox-tag {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
}
.checkbox-tag::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}
.checkbox:checked + .checkbox-tag::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.form-user-id input,
.form-user-tel input,
.form-user-mail input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-user-id input:hover,
.form-user-tel input:hover,
.form-user-mail input:hover,
.form-comment input:hover,
.form-user-id input:focus,
.form-user-tel input:focus,
.form-user-mail input:focus,
.form-comment input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid var(--accent-color) !important;
}
input {
  padding-left: 11px;
  color: var(--primary-text-color);
}
textarea {
  padding-left: 11px;
  color: var(--primary-text-color);
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.policy-agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.form-submit-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  margin: 30px auto 0;
}
.form-submit-btn:hover {
  cursor: pointer;
}

/*----------------------------------prtfolio page----------------*/
/*------------------------main content--------------*/
/*----------------filters-------------*/

/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px; 
}*/
.filters {
  margin-bottom: 50px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filters .list:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primer {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}
.filter-button:focus,
.filter-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
}
/*--------------examples-------------*/
.example.list {
  display: flex;
  flex-wrap: wrap;
}
.examples {
  margin-top: 50px;
}
.examples-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primary-background-color);
}
.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-thumb {
  position: relative;
  overflow: hidden;
}
.examples-item:hover .overlay-text {
  transform: translateY(0);
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 62px 23px;
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}
.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.examples-list-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.examples-list-item {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.example-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/*----*/
